#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=QRadioLink
TryExec=qradiolink
GenericName=Multimode SDR transceiver
Comment=SDR transceiver based on GNU radio
Exec=qradiolink
Icon=icon.png
