Source: qradiolink
Maintainer: Adrian Musceac <kantooon@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9),
      gnuradio-dev,
      protobuf-compiler,
      gr-osmosdr,
      gnuradio,
      libvolk1-dev,
      libvolk1-bin,
      libftdi1,
      libftdi-dev,
      libprotobuf17,
      libprotobuf-dev,
      libopus0,
      libopus-dev,
      libspeexdsp1,
      libspeexdsp-dev,
      libpulse0,
      libpulse-dev,
      libcodec2-0.8.1,
      libcodec2-dev,
      libasound2,
      libasound2-dev,
      libjpeg62-turbo,
      libjpeg62-turbo-dev,
      libconfig++9v5,
      libconfig++-dev,
      qt5-qmake,
      qt5-default,
      qtbase5-dev,
      libqt5core5a,
      libqt5gui5,
      libqt5network5,
      libqt5sql5

Package: qradiolink
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
      gnuradio-dev,
      gr-osmosdr,
      gnuradio,
      libvolk1-dev,
      libvolk1-bin,
      libftdi1,
      libftdi-dev,
      libprotobuf17,
      libprotobuf-dev,
      libopus0,
      libopus-dev,
      libspeexdsp1,
      libspeexdsp-dev,
      libpulse0,
      libpulse-dev,
      libcodec2-0.8.1,
      libcodec2-dev,
      libasound2,
      libasound2-dev,
      libjpeg62-turbo,
      libjpeg62-turbo-dev,
      libconfig++9v5,
      libconfig++-dev,
      qt5-qmake,
      qt5-default,
      qtbase5-dev,
      libqt5core5a,
      libqt5gui5,
      libqt5network5,
      libqt5sql5
Description: Gnuradio SDR wrapper
