#!/usr/bin/make -f
%:
	QT_SELECT=qt5 dh $@
override_dh_auto_clean:
	protoc --proto_path=${PWD}/qradiolink/ext --cpp_out=${PWD}/qradiolink/ext ${PWD}/qradiolink/ext/Mumble.proto
	protoc --proto_path=${PWD}/qradiolink/ext --cpp_out=${PWD}/qradiolink/ext ${PWD}/qradiolink/ext/QRadioLink.proto
